<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd"

>


<!-- 	<bean class="firstapp.Contact">
		<property name="nom" value="doe"></property>
		<property name="prenom" value="john"></property>
		<property name="adresse"><ref bean="monAdresse"/></property>
	</bean>

	<bean id="monAdresse" class="firstapp.Adresse">
		<property name="rue" value="nomDeLaRue"></property>
		<property name="ville" value="nomDeLaVille"></property>
		<property name="numero"><value>12</value></property>
	</bean> -->
	
	<context:component-scan base-package="firstapp"/>
</beans>